// Eigene Label-Farben
.label:not(g),
.label-blue:not(g) {
  display: inline-block;
  padding: 0.16em 0.56em;
  margin-right: $sp-2;
  margin-left: $sp-2;
  color: $white;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: $blue-100;
  border-radius: 12px;

  @include fs-2;
}

.label-required:not(g) {
  background-color: #df8f8f;
  color: #4b0b0b;
}

.label-conditional:not(g) {
  background-color: #ffcfc9;
  color: #b10202;
}

.label-recommended:not(g) {
  background-color: #d4edbc;
  color: #11734b;
}

.label-optional:not(g) {
  background-color: #c6dbe1;
  color: #215a6c;
}
